In [9]:
import pandas as pd
import numpy as np
df = pd.read_csv('../datasets/trip_duration_task.csv')
df

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration
0,id1080784,2.0,2016-02-29 16:40:21,2016-02-29 16:47:01,1,-73.953918,40.778873,-73.963875,40.771164,400
1,id0889885,1.0,2016-03-11 23:35:37,2016-03-11 23:53:57,2,-73.988312,40.731743,-73.994751,40.694931,1100
2,id0857912,2.0,2016-02-21 17:59:33,2016-02-21 18:26:48,2,-73.997314,40.721458,-73.948029,40.774918,1635
3,id3744273,2.0,2016-01-05 09:44:31,2016-01-05 10:03:32,6,-73.961670,40.759720,-73.956779,40.780628,1141
4,id0232939,1.0,2016-02-17 06:42:23,2016-02-17 06:56:31,1,-74.017120,40.708469,-73.988182,40.740631,848
...,...,...,...,...,...,...,...,...,...,...
729317,id3905982,2.0,2016-05-21 13:29:38,2016-05-21 13:34:34,2,-73.965919,40.789780,-73.952637,40.789181,296
729318,id0102861,1.0,2016-02-22 00:43:11,2016-02-22 00:48:26,1,-73.996666,40.737434,-74.001320,40.731911,315
729319,id0439699,1.0,2016-04-15 18:56:48,2016-04-15 19:08:01,1,-73.997849,40.761696,-74.001488,40.741207,673
729320,id2078912,1.0,2016-06-19 09:50:47,2016-06-19 09:58:14,1,-74.006706,40.708244,-74.013550,40.713814,447
729321,id1053441,2.0,2016-01-01 17:24:16,2016-01-01 17:44:40,4,-74.003342,40.743839,-73.945847,40.712841,1224

In [10]:
df = df.drop(["id", "dropoff_datetime"], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 729322 entries, 0 to 729321
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   vendor_id          727135 non-null  float64
 1   pickup_datetime    729322 non-null  object
 2   passenger_count    729322 non-null  int64
 3   pickup_longitude   729322 non-null  float64
 4   pickup_latitude    727475 non-null  float64
 5   dropoff_longitude  729322 non-null  float64
 6   dropoff_latitude   729322 non-null  float64
 7   trip_duration      729322 non-null  int64
dtypes: float64(5), int64(2), object(1)
memory usage: 44.5+ MB

In [11]:
df["vendor_id"]=df["vendor_id"].fillna(df["vendor_id"].mean())

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 729322 entries, 0 to 729321
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   vendor_id          729322 non-null  float64
 1   pickup_datetime    729322 non-null  object
 2   passenger_count    729322 non-null  int64
 3   pickup_longitude   729322 non-null  float64
 4   pickup_latitude    727475 non-null  float64
 5   dropoff_longitude  729322 non-null  float64
 6   dropoff_latitude   729322 non-null  float64
 7   trip_duration      729322 non-null  int64
dtypes: float64(5), int64(2), object(1)
memory usage: 44.5+ MB

In [13]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 727475 entries, 0 to 729321
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   vendor_id          727475 non-null  float64
 1   pickup_datetime    727475 non-null  object
 2   passenger_count    727475 non-null  int64
 3   pickup_longitude   727475 non-null  float64
 4   pickup_latitude    727475 non-null  float64
 5   dropoff_longitude  727475 non-null  float64
 6   dropoff_latitude   727475 non-null  float64
 7   trip_duration      727475 non-null  int64
dtypes: float64(5), int64(2), object(1)
memory usage: 50.0+ MB

In [16]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])
df["year"] = df['pickup_datetime'].dt.year
df["month"] = df['pickup_datetime'].dt.month
df["day"] = df['pickup_datetime'].dt.day
df["hour"] = df['pickup_datetime'].dt.hour
df["minute"] = df['pickup_datetime'].dt.minute
df["second"] = df['pickup_datetime'].dt.second
df = df.drop(["pickup_datetime"], axis=1)

In [17]:
df.to_csv("trip_duration_task_pred.csv")

In [18]:
y = df["trip_duration"]
X = df.drop(["trip_duration"], axis=1)
y

0          400
1         1100
2         1635
3         1141
4          848
          ...
729317     296
729318     315
729319     673
729320     447
729321    1224
Name: trip_duration, Length: 727475, dtype: int64

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [24]:
from sklearn.linear_model import LinearRegression, Lasso, Ridge
lr = Lasso(alpha=1).fit(X_train, y_train)
y_test

619478     184
534761     336
154697     861
36287      780
655482     255
          ...
199265     441
323054     519
245407     370
311721    1724
642818    1131
Name: trip_duration, Length: 145495, dtype: int64

In [25]:
y_pred = lr.predict(X_test)
y_pred

array([ 954.80599014,  986.09597667,  779.14696674, ...,  892.61019158,
       1089.92957186,  758.26624429])

In [26]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_absolute_percentage_error
from math import sqrt
print(f'MAE: {mean_absolute_error(y_test, y_pred)}')
print(f'MSE: {mean_squared_error(y_test, y_pred)}')
print(f'RMSE: {sqrt(mean_squared_error(y_test, y_pred))}')
print(f'MAPE: {sqrt(mean_absolute_percentage_error(y_test, y_pred))}')
print(f'R^2: {lr.score(X_test, y_test)}')

MAE: 595.0503400773417
MSE: 35888312.95954258
RMSE: 5990.685516661893
MAPE: 1.2819986317230818
R^2: -0.009115308684109813

In [27]:
ridge = Ridge(alpha=0.3).fit(X_train, y_train)
y_pred = ridge.predict(X_test)
y_pred

array([ 938.65723027,  971.76277609,  740.68863726, ...,  845.56157086,
       1132.95211638,  748.00297019])